html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #fff;
    @extend %mon-r-400;
    background-color: #1c2028;
}

body .cards,
.faq-color-bg {
    background-color: #fff;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1094px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-cards {
    max-width: 1183px;
    padding: 0 15px;
    margin: 0 auto;
}
