$hover: #1e98a3;
$bg: #2b3039;
$title: #2ac7d5;

%mon-l-300 {
    font-family: "Montserrat-Light";
    font-weight: 300;
}
%mon-r-400 {
    font-family: "Montserrat-Regular";
    font-weight: 400;
}
%mon-s-600 {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
}
%mon-b-700 {
    font-family: "Montserrat-Bold";
    font-weight: 700;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
