@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "media";
@import "global";

.header {
    min-height: 50px;
    background-color: $bg;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    &__faq-mob,
    &__menu-mob {
        display: none;
    }

    &__logo {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.31em;
        text-transform: uppercase;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 312px;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.06em;
        @extend %mon-b-700;
    }

    &__menu-enter {
        position: relative;
        margin-right: 13px;
        &::after {
            content: "|";
            position: absolute;
            right: -13px;
        }
    }
}

// Content part ----------------------------------------------------------
.club {
    min-height: 614px;
    background-image: url("../images/bg-fst.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #2b3039;
        mix-blend-mode: multiply;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 73px;
    }

    &__info,
    &__form {
        margin-top: 58px;
    }
    &__info {
        max-width: 522px;
    }
    &__info-pretitle {
        font-size: 22px;
        line-height: 27px;
        @extend %mon-b-700;
    }
    &__info-title {
        font-size: 48px;
        line-height: 40px;
        margin-bottom: 26px;
        @extend %mon-b-700;
    }
    &__info-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        min-height: 150px;
        background: #2b3039;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    }
    &__info-percent,
    &__info-money,
    &__info-day {
        font-size: 43px;
        line-height: 52px;
        color: $title;
        @extend %mon-b-700;
        margin-bottom: 6px;
    }
    &__info-day span {
        font-size: 11px;
        line-height: 13px;
    }
    &__info-text {
        text-align: center;
        font-size: 11px;
        line-height: 13px;
        max-width: 114px;
        @extend %mon-l-300;
    }
}

.reg {
    max-width: 414px;
    width: 100%;
    min-height: 421px;
    background-color: $bg;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    padding: 13px 19px 30px;

    &__title {
        max-width: 291px;
        font-size: 28px;
        line-height: 34px;
        color: $title;
        margin-bottom: 18px;
        @extend %mon-b-700;
        text-transform: uppercase;
    }
    &__name {
        margin: 20px 0 6px 8px;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        @extend %mon-l-300;
        &:first-child {
            margin-top: 0;
        }
    }
    &__input {
        max-width: 377px;
        height: 17px;
        width: 100%;
        background: #1c2028;
        border-radius: 16px;
        border: none;
        padding: 0 10px 2px 7px;
        color: #fff;
        font-size: 12px;
        line-height: 15px;
        outline: 0;
        &::placeholder {
            font-size: 12px;
            line-height: 15px;
            color: #3d434f;
        }
    }
    &__form-btn {
        display: block;
        margin: 29px auto 0;
        padding: 12px 74px;
        font-size: 17px;
        line-height: 21px;
        color: #2b3039;
        background-color: $title;
        text-transform: uppercase;
        @extend %mon-b-700;
        cursor: pointer;
        transition: background-color 0.7s;
        &:hover {
            background-color: $hover;
        }
    }
}
// Content part ------------------ end ----------------------------------------

.footer {
    min-height: 100px;
    background-color: $bg;
    padding: 20px 7px 30px;

    &__logo {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.31em;
        text-transform: uppercase;
    }
    &__text {
        margin-top: 4px;
        font-size: 12px;
        line-height: 15px;
        color: rgba(255, 255, 255, 0.5);
    }
}

@import "media";
